html{
	background-color: #eef6f6;
}

header {
	
	text-align: center;
	color: #120198;
		
}

nav{ 
list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #555;
  top: 0;
  width: 100%;
  
}

nav a{
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

form{
	padding: 10px;
	
}

img {
  border-radius: 8px;
height: 25%;
width:25%;

  }

h2{
	color: #120198;
	font-family: Serif;
	font: Times New Roman;
}

footer{
	font-size:small;
	
}

dt{
	color: #ff0000;
}

dd{
	color: #000066;
}

h3{
	color: #000066;
	font-family: Serif;
	font: Times New Roman;
	
}

h1{
	text-align:center;


}

#team{
 width:10%;
 height:10%;
}